<menugroup>
<inputsize w="2185" h="2835" />
<menu name="mag1">
<init>
<drawpic mutex="all">
<texture y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="clear" />
</drawpic>
</init>
<default_item name="1" />
<items>
<item name="1">
<activation>
<drawpic mutex="all">
<texture image="kuva-00.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="21" />
</key>
<key id="right">
<selectitem name="2" />
</key>
<key id="home">
<loadmenu name=".." />
</key>
</item>
<item name="2">
<activation>
<drawpic mutex="all">
<texture image="kuva-01.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="1" />
</key>
<key id="right">
<selectitem name="3" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="3">
<activation>
<drawpic mutex="all">
<texture image="kuva-02.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="2" />
</key>
<key id="right">
<selectitem name="4" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="4">
<activation>
<drawpic mutex="all">
<texture image="kuva-03.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="3" />
</key>
<key id="right">
<selectitem name="5" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="5">
<activation>
<drawpic mutex="all">
<texture image="kuva-04.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="4" />
</key>
<key id="right">
<selectitem name="6" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="6">
<activation>
<drawpic mutex="all">
<texture image="kuva-05.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="5" />
</key>
<key id="right">
<selectitem name="7" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="7">
<activation>
<drawpic mutex="all">
<texture image="kuva-06.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="6" />
</key>
<key id="right">
<selectitem name="8" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="8">
<activation>
<drawpic mutex="all">
<texture image="kuva-07.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="7" />
</key>
<key id="right">
<selectitem name="9" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="9">
<activation>
<drawpic mutex="all">
<texture image="kuva-08.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="8" />
</key>
<key id="right">
<selectitem name="10" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="10">
<activation>
<drawpic mutex="all">
<texture image="kuva-09.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="9" />
</key>
<key id="right">
<selectitem name="11" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="11">
<activation>
<drawpic mutex="all">
<texture image="kuva-10.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="10" />
</key>
<key id="right">
<selectitem name="12" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="12">
<activation>
<drawpic mutex="all">
<texture image="kuva-11.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="11" />
</key>
<key id="right">
<selectitem name="13" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="13">
<activation>
<drawpic mutex="all">
<texture image="kuva-12.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="12" />
</key>
<key id="right">
<selectitem name="14" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="14">
<activation>
<drawpic mutex="all">
<texture image="kuva-13.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="13" />
</key>
<key id="right">
<selectitem name="15" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="15">
<activation>
<drawpic mutex="all">
<texture image="kuva-14.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="14" />
</key>
<key id="right">
<selectitem name="16" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="16">
<activation>
<drawpic mutex="all">
<texture image="kuva-15.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="15" />
</key>
<key id="right">
<selectitem name="17" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="17">
<activation>
<drawpic mutex="all">
<texture image="kuva-16.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="16" />
</key>
<key id="right">
<selectitem name="18" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="18">
<activation>
<drawpic mutex="all">
<texture image="kuva-17.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="17" />
</key>
<key id="right">
<selectitem name="19" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="19">
<activation>
<drawpic mutex="all">
<texture image="kuva-18.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="18" />
</key>
<key id="right">
<selectitem name="20" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="20">
<activation>
<drawpic mutex="all">
<texture image="kuva-19.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="19" />
</key>
<key id="right">
<selectitem name="21" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="21">
<activation>
<drawpic mutex="all">
<texture image="kuva-20.png" y="0" x="0" size_x="2185" size_y="2835" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="20" />
</key>
<key id="right">
<selectitem name="1" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
</items>
</menu>
</menugroup>
