<menugroup>
<inputsize w="824" h="1200" />
<menu name="mag1">
<init>
<drawpic mutex="all">
<texture y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="clear" />
</drawpic>
</init>
<default_item name="1" />
<items>
<item name="1">
<activation>
<drawpic mutex="all">
<texture image="0001.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="12" />
</key>
<key id="right">
<selectitem name="2" />
</key>
<key id="home">
<loadmenu name=".." />
</key>
</item>
<item name="2">
<activation>
<drawpic mutex="all">
<texture image="0002.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="1" />
</key>
<key id="right">
<selectitem name="3" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="3">
<activation>
<drawpic mutex="all">
<texture image="0003.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="2" />
</key>
<key id="right">
<selectitem name="4" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="4">
<activation>
<drawpic mutex="all">
<texture image="0004.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="3" />
</key>
<key id="right">
<selectitem name="5" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="5">
<activation>
<drawpic mutex="all">
<texture image="0005.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="4" />
</key>
<key id="right">
<selectitem name="6" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="6">
<activation>
<drawpic mutex="all">
<texture image="0006.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="5" />
</key>
<key id="right">
<selectitem name="7" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="7">
<activation>
<drawpic mutex="all">
<texture image="0007.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="6" />
</key>
<key id="right">
<selectitem name="8" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="8">
<activation>
<drawpic mutex="all">
<texture image="0008.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="7" />
</key>
<key id="right">
<selectitem name="9" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="9">
<activation>
<drawpic mutex="all">
<texture image="0009.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="8" />
</key>
<key id="right">
<selectitem name="10" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="10">
<activation>
<drawpic mutex="all">
<texture image="0010.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="9" />
</key>
<key id="right">
<selectitem name="11" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="11">
<activation>
<drawpic mutex="all">
<texture image="0011.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="10" />
</key>
<key id="right">
<selectitem name="12" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="12">
<activation>
<drawpic mutex="all">
<texture image="0012.jpg" y="0" x="0" size_x="824" size_y="1200" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="11" />
</key>
<key id="right">
<selectitem name="1" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
</items>
</menu>
</menugroup>
