<menugroup>
<inputsize w="1200" h="1600" />
<menu name="mag1">
<init>
<drawpic mutex="all">
<texture y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="clear" />
</drawpic>
</init>
<default_item name="1" />
<items>
<item name="1">
<activation>
<drawpic mutex="all">
<texture image="1.jpg" y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="5" />
</key>
<key id="right">
<selectitem name="2" />
</key>
<key id="home">
<loadmenu name=".." />
</key>
</item>
<item name="2">
<activation>
<drawpic mutex="all">
<texture image="2.jpg" y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="1" />
</key>
<key id="right">
<selectitem name="3" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="3">
<activation>
<drawpic mutex="all">
<texture image="3.jpg" y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="2" />
</key>
<key id="right">
<selectitem name="4" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="4">
<activation>
<drawpic mutex="all">
<texture image="4.jpg" y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="3" />
</key>
<key id="right">
<selectitem name="5" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
<item name="5">
<activation>
<drawpic mutex="all">
<texture image="5.jpg" y="0" x="0" size_x="1200" size_y="1600" />
<target y="0" x="0" fullupdate="yes" />
</drawpic>
</activation>
<key id="left">
<selectitem name="4" />
</key>
<key id="right">
<selectitem name="1" />
</key>
<key id="home">
<selectitem name="1" />
</key>
</item>
</items>
</menu>
</menugroup>
